<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" height="150px" class="user-avatar" />
            <h1>Balance Score Card</h1>
            <div class="card-body" *ngIf="alerts">
                <p *ngFor="let alert of alerts">
                    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
                </p>
            </div>
            <form role="form" form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class=" form-content ">
                    <div class="form-group ">
                        <input type="text " id="user " class="form-control input-underline input-lg " name="user" #user="ngModel" [(ngModel)]="usuario.user" placeholder="{{ 'User' | translate }} ">
                    </div>

                    <div class="form-group ">
                        <input type="password " id="password" class="form-control input-underline input-lg " name="password" #password="ngModel" [(ngModel)]="usuario.password" placeholder="{{ 'Password' | translate }} ">
                    </div>
                </div>
                <!-- <a class="btn rounded-btn " [routerLink]="[ '/dashboard'] " (click)="onLoggedin() ">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn " [routerLink]="[ '/signup'] ">{{ 'Register' | translate }}</a> -->
                <a class="btn rounded-btn " (click)="onSubmit(loginForm) ">{{  'Log in' | translate}}</a>
            </form>
        </div>
    </div>
</div>